html {
  background-color: #ebebeb;
}
header {
  background-color: grey;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 89.2%;
  width: 100%;
  float: right;
}
h4 {
  font-size: 16.5px;
  font-weight: 400;
  margin-right: 15px;
  margin-top: 25px;
  color: white;
  padding-right: 15px;
  float: right;
}
button:focus{
    outline: none;
}
#btn-add {
  position: fixed;
  font-weight: bolder;
  height:69px;
  width:69px;
  top: 0;
  left: 0;
  border: solid 1px black;
  color: white;
  background-color: black;
  text-align: center;
  font-size: 30px;
  float: left;
}
#btn-add:hover {
  background: white;
  color: black;
  border-color: black;
  border-width: 3px;
}
#btn-xbox {
  background: url();
  position: fixed;
  top: 0;
  height: 69px;
  width: 69px;
  margin-left: 107px;
  border: solid 0px;
  float: left;
}
#btn-xbox:hover {
   background: green;
   border: solid 0px;
 }
#btn-playstation {
  background: url();
  position: fixed;
  top: 0;
  height: 69px;
  width: 69px;
  margin-left: 210px;
  margin-bottom: 1px;
  border: solid 0px;
  float: left;
}
#btn-playstation:hover {
  background: #003399;
  border: 0px;
}
#btn-nintendo {
  background: url();
  position: fixed;
  top: 0;
  height: 69px;
  width: 69px;
  margin-left: 315px;
  margin-bottom: 1px;
  border: solid 0px;
  float: left;
}
#btn-nintendo:hover {
  background: #b80404;
  border: 0px;
}
#btn-pc {
  background: url();
  position: fixed;
  top: 0;
  height: 69px;
  width: 69px;
  margin-left: 415px;
  margin-bottom: 1px;
  border: solid 0px;
  float: left;
}
#btn-pc:hover {
  background: purple;
}
#btn-full {
  font-size: 15px;
  font-weight: bold;
  background: white;
  height: 40px;
  width: 100px;
  margin-top: 65px;
  margin-left: 0px;
  border: solid 1px #808080;
  float: left;
}
#btn-full:hover {
  background: black;
  color: white;
}
#btn-wish {
  font-size: 15px;
  font-weight: bold;
  background: white;
  height: 40px;
  width: 100px;
  margin-top: 65px;
  margin-left: 5px;
  border: solid 1px #808080;
  float: left;
}
#btn-wish:hover {
  background: black;
  color: white;
}
#btn-allcats {
  font-size: 15px;
  font-weight: bold;
  background: white;
  height: 40px;
  width: 50px;
  margin-top: 65px;
  margin-right: 5px;
  border: solid 1px #808080;
  float: right;
}
#btn-allcats:hover {
  background: black;
  color: white;
}
#btn-bought {
  font-size: 15px;
  font-weight: bold;
  background: white;
  height: 40px;
  width: 75px;
  margin-top: 65px;
  margin-right: 5px;
  border: solid 1px #808080;
  float: right;
}
#btn-bought:hover {
  background: black;
  color: white;
}
#btn-gifted {
  font-size: 15px;
  font-weight: bold;
  background: white;
  height: 40px;
  width: 70px;
  margin-top: 65px;
  margin-right: 5px;
  border: solid 1px #808080;
  float: right;
}
#btn-gifted:hover {
  background: black;
  color: white;
}
#btn-f2p {
  font-size: 15px;
  font-weight: bold;
  background: white;
  height: 40px;
  width: 45px;
  margin-top: 65px;
  margin-right: 5px;
  border: solid 1px #808080;
  float: right;
}
#btn-f2p:hover {
  background: black;
  color: white;
}
#btn-sub {
  font-size: 15px;
  font-weight: bold;
  background: white;
  height: 40px;
  width: 100px;
  margin-top: 65px;
  margin-right: 5px;
  border: solid 1px #808080;
  float: right;
}
#btn-sub:hover {
  background: black;
  color: white;
}
#btn-borrowed {
  font-size: 15px;
  font-weight: bold;
  background: white;
  height: 40px;
  width: 90px;
  margin-top: 65px;
  margin-right: 50px;
  border: solid 1px #808080;
  float: right;
}
#btn-borrowed:hover {
  background: black;
  color: white;
}
